/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COMMON */
:root {
  --debug: #00fdb5;
  --blu: #0084fd;
  --azzurro: #b5ddff;
  --viola: #9792e4;
  --grigio: #333333;
  --testo-grigio: #737373;
  --testo-footer-viola: #cbc9f1;
  --testo-hero-one: #5a6e7f;
  --giallo: #fdc15f;
}

body {
  font-family: "PT Sans", sans-serif;
}

p {
  line-height: 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 0.625rem;
  border: none;
  border-radius: 13px;
  background-color: white;
  transition: all 0.4s;
}

.blu {
  background-color: var(--blu);
  color: white;
}

.viola {
  background-color: var(--viola);
  color: black;
}

button:hover {
  background-color: var(--grigio);
  color: white;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cont {
  max-width: 1140px;
  margin: 0 auto;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

/* HEADER */
header {
  height: 75px;
  background-color: var(--blu);
  color: white;
}

nav {
  line-height: 75px;
  max-width: 1140px;
  margin: 0 auto;
}

nav.row {
  align-items: center;
}

.logo img {
  display: block;
  width: 100%;
}

ul.row {
  gap: 2.1875rem;
}

.hamburger {
  display: none;
}

nav.row {
  justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  nav.row {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
  }

  nav .menu {
    display: none;
  }
}

/* hero one */
.one {
  padding: 3.125rem 0 6.25rem 0;
}

.one .row {
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.one .row .box {
  border-radius: 15px;
  width: calc((100% - 50px) / 3);
  background-color: var(--azzurro);
}

.one .row .big-box {
  flex-wrap: nowrap;
  width: calc((100% - 50px) / 3 * 2 + 25px);
}

.one .row .box:not(.row) {
  text-align: center;
  padding: 1.875rem 1.5625rem;
}

.one .row .box:not(.row) h3 {
  margin: 1.875rem 0 2.5rem 0;
}

.one .row .box:not(.row) i {
  font-size: 4.375rem;
  color: var(--blu);
}

.one .row .row {
  align-items: flex-end;
}

.one .row .w-60 {
  padding: 0 0 3.75rem 1.25rem;
}

.one .row .w-40 {
  padding: 0 3.75rem 0 0;
}

.one h3 {
  font-size: 1.5rem;
}

.one p {
  color: var(--testo-hero-one);
  font-weight: bold;
  font-size: 1.125rem;
}

.one .w-60 p {
  margin: 2.5rem 0;
}

.one .img img {
  display: block;
  width: 100%;
}

.one .box h3 {
  font-size: 1.5625rem;
  color: var(--blu);
}

@media screen and (max-width: 1140px) {
  .one {
    padding: 50px 30px 100px 30px;
  }
}

@media screen and (max-width: 992px) {
  .one .row .big-box {
    flex-wrap: wrap;
  }

  .one .row .w-60 {
    width: 100%;
    padding: 35px 20px 60px 20px;
  }

  .one .row .w-60 {
    width: 100%;
    padding: 35px 20px 0 20px;
  }

  .one .row .w-40 {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .one .row .box {
    width: 100%;
  }

  .one .row .w-40 {
    padding: 0;
    width: 100%;
  }

  .one .w-40 .img {
    height: 350px;
  }

  .one .w-40 img {
    height: 100%;
    object-fit: contain;
  }
}

/* hero two */
.two {
  padding: 8.125rem 0 3.75rem 0;
  background-color: var(--viola);
}

.two .cont {
  padding: 0 6.25rem;
}

.two .row {
  justify-content: center;
  align-items: flex-end;
  gap: 4.375rem;
}

.two .w-60 {
  color: white;
}

.two .w-60 h3 {
  font-size: 2.125rem;
  margin-bottom: 3.125rem;
}

.two .w-60 p {
  font-size: 1rem;
}

.two .w-60 .img {
  margin-bottom: 8.125rem;
}

.two .w-40 {
  text-align: center;
  padding: 2.1875rem 2.8125rem;
  background-color: white;
  border-radius: 15px;
}

.two .w-40 h3 {
  font-size: 1.5rem;
  margin-top: 1.5625rem;
}

.two .w-40 p {
  margin: 1.875rem 0;
  font-size: 1.125rem;
  font-style: oblique;
}

.two .img img {
  display: block;
  width: 100%;
}

.two button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 1140px) {
  .two {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .two .cont {
    padding: 0;
  }

  .two .row {
    flex-wrap: wrap;
    gap: 35px;
  }

  .two .box {
    width: 100%;
  }
}

/* hero three */
.three {
  padding: 4.375rem 0 6.875rem 0;
  text-align: center;
}

.three .cont > p {
  margin-bottom: 2.8125rem;
}

.three h2 {
  font-size: 2.125rem;
  color: var(--viola);
}

.three p,
h5 {
  font-size: 1.25rem;
}

.three .cont > p {
  margin: 3.4375rem 0;
}

.three .col {
  gap: 30px;
}

.three .box {
  padding: 0.625rem;
  border-radius: 15px;
  color: white;
  background-color: var(--viola);
}

.three .box .col {
  text-align: left;
}

.three .box.row {
  gap: 60px;
  align-items: center;
}

.three .box .img {
  margin: 15px;
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  background-color: white;
}

.three .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

@media screen and (max-width: 1140px) {
  .three {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .three .box.row {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
  }

  .three .box {
    max-width: 400px;
  }

  .three .box .col {
    text-align: center;
  }

  .three .box .img {
    margin: 0;
  }
}

/* hero four */
.four {
  padding: 5rem 0 3.75rem 0;
  background-color: var(--viola);
}

.four h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4.375rem;
}

.four h3 {
  color: var(--viola);
  font-size: 4.5rem;
}

.four h4 {
  color: var(--viola);
  font-size: 1.5rem;
}

.four p {
  color: var(--testo-grigio);
}

.four .row {
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.four .box {
  border-radius: 15px;
  background-color: white;
  padding: 1.875rem 1.25rem;
  width: calc((100% - 70px) / 3);
}

.four .box.col {
  align-items: flex-start;
  gap: 30px;
}

.four button {
  width: 50%;
  color: white;
}

@media screen and (max-width: 1140px) {
  .four {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .four .box {
    width: calc((100% - 70px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .four .box {
    width: 100%;
  }
}

/* hero five */
.five {
  padding: 6.25rem 0 9.375rem 0;
}

.five h2 {
  font-size: 4.5rem;
  margin-bottom: 3.75rem;
  color: var(--viola);
}

.five p {
  font-size: 1.25rem;
}

.five .p-top {
  margin-bottom: 4.375rem;
}

.five h4 {
  margin: 30px 0;
  color: var(--viola);
  font-size: 30px;
}

.five .cont {
  padding: 0 45px;
}

.five .row {
  gap: 100px;
}

.five .img {
  position: relative;
  margin: 0.9375rem;
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  background-color: white;
}

.five .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.five .w-30 .fa-quote-left {
  color: var(--viola);
  z-index: 2;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.five button {
  color: white;
}

@media screen and (max-width: 1140px) {
  .five {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .five .row {
    flex-wrap: wrap;
  }

  .five .w-30,
  .w-70 {
    width: 100%;
  }
}

/* footer */
footer {
  text-align: center;
  color: white;
}

footer .top {
  padding: 4.0625rem 0;
  background-color: var(--viola);
}

footer .top h4 {
  font-weight: normal;
  color: var(--testo-footer-viola);
  font-size: 18px;
  margin-bottom: 30px;
}

footer .top h3 {
  font-size: 3rem;
  margin-bottom: 3.75rem;
}

footer .top h2 {
  color: var(--giallo);
  font-size: 5.75rem;
  margin-bottom: 3.125rem;
}

footer .top button {
  color: var(--viola);
  margin: 2.1875rem 0;
}

footer .bottom {
  padding: 2.5rem;
  background-color: var(--grigio);
}

footer .bottom p:first-child {
  margin-bottom: 4.375rem;
}

footer a {
  text-decoration: underline;
}

footer .bottom a {
  color: var(--viola);
}

footer p {
  margin: 0 auto;
  max-width: 60%;
}

@media screen and (max-width: 1140px) {
  footer .top,
  .bottom {
    padding-left: 30px;
    padding-right: 30px;
  }
}
