/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COMMON */
:root {
  --debug: #00fdb5;
  --blu: #0084fd;
  --azzurro: #b5ddff;
  --viola: #9792e4;
  --grigio: #333333;
}

body {
  font-family: "PT Sans", sans-serif;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 0.625rem;
  border: none;
  border-radius: 13px;
  background-color: white;
  transition: all 0.4s;
}

.blu {
  background-color: var(--blu);
  color: white;
}

.viola {
  background-color: var(--viola);
  color: black;
}

button:hover {
  background-color: var(--grigio);
  color: white;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cont {
  max-width: 1140px;
  margin: 0 auto;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

/* DEBUG */
/* .debug .box {
  border: 2px dashed red;
}

.debug .img {
  border: 2px solid black;
} */

/* hero four debug */
.debug .four .box {
  height: 400px;
  background-color: white;
}

/* hero five debug */
.debug .five .w-70,
.five .w-30 {
  height: 600px;
  border: 2px solid black;
}

.debug .five .w-30 .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--debug);
}

/* HEADER */
header {
  height: 75px;
  background-color: var(--blu);
  color: white;
}

nav {
  line-height: 75px;
  max-width: 1140px;
  margin: 0 auto;
}

nav.row {
  align-items: center;
}

.logo img {
  display: block;
  width: 100%;
}

ul.row {
  gap: 2.1875rem;
}

.hamburger {
  display: none;
}

nav.row {
  justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  nav.row {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
  }

  nav .menu {
    display: none;
  }
}

/* hero one */
.one {
  padding: 50px 0 100px 0;
}

.one .row {
  flex-wrap: wrap;
  gap: 25px;
}

.one .row .box {
  border-radius: 15px;
  width: calc((100% - 50px) / 3);
  background-color: var(--azzurro);
}

.one .row .big-box {
  flex-wrap: nowrap;
  width: calc((100% - 50px) / 3 * 2 + 25px);
}

.one .row .box:not(.row) {
  text-align: center;
  padding: 1.875rem 1.5625rem;
}

.one .row .box:not(.row) h3 {
  margin: 1.875rem 0 2.5rem 0;
}

.one .row .box:not(.row) i {
  font-size: 4.375rem;
  color: var(--blu);
}

.one .row .row {
  align-items: flex-end;
}

.one .row .w-60 {
  padding: 2.1875rem 0 3.75rem 1.25rem;
}

.one .row .w-40 {
  padding: 0 3.75rem 0 0;
}

.one h3 {
  font-size: 1.5rem;
}

.one p {
  font-size: 1.125rem;
}

.one .w-60 p {
  margin: 2.5rem 0;
}

.one .img img {
  display: block;
  width: 100%;
}

.one .box h3 {
  font-size: 1.5625rem;
  color: var(--blu);
}

@media screen and (max-width: 1140px) {
  .one {
    padding: 50px 30px 100px 30px;
  }
}

@media screen and (max-width: 992px) {
  .one .row .big-box {
    flex-wrap: wrap;
  }

  .one .row .w-60 {
    width: 100%;
    padding: 35px 20px 60px 20px;
  }

  .one .row .w-60 {
    width: 100%;
    padding: 35px 20px 0 20px;
  }

  .one .row .w-40 {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .one .row .box {
    width: 100%;
  }

  .one .row .w-40 {
    padding: 0;
    width: 100%;
  }

  .one .w-40 .img {
    height: 350px;
  }

  .one .w-40 img {
    height: 100%;
    object-fit: contain;
  }
}

/* hero two */
.two {
  padding: 130px 0 60px 0;
  background-color: var(--viola);
}

.two .cont {
  padding: 0 100px;
}

.two .row {
  justify-content: center;
  align-items: flex-end;
  gap: 70px;
}

.two .w-60 {
  color: white;
}

.two .w-60 h3 {
  font-size: 34px;
  margin-bottom: 50px;
}

.two .w-60 p {
  font-size: 16px;
}

.two .w-60 .img {
  margin-bottom: 130px;
}

.two .w-40 {
  text-align: center;
  padding: 35px 45px;
  background-color: white;
  border-radius: 15px;
}

.two .w-40 h3 {
  font-size: 24px;
  margin-top: 25px;
}

.two .w-40 p {
  margin: 30px 0;
  font-size: 18px;
  font-style: oblique;
}

.two .img img {
  display: block;
  width: 100%;
}

.two button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 1140px) {
  .two {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .two .cont {
    padding: 0;
  }

  .two .row {
    flex-wrap: wrap;
    gap: 35px;
  }

  .two .box {
    width: 100%;
  }
}

/* hero three */
.three {
  padding: 70px 0 110px 0;
  text-align: center;
}

.three .cont > p {
  margin-bottom: 45px;
}

.three h2 {
  font-size: 34px;
  color: var(--viola);
}

.three p,
h5 {
  font-size: 20px;
}

.three .cont > p {
  margin: 55px 0;
}

.three .col {
  gap: 30px;
}

.three .box {
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: var(--viola);
}

.three .box .col {
  text-align: left;
}

.three .box.row {
  gap: 60px;
  align-items: center;
}

.three .box .img {
  margin: 15px;
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  background-color: white;
}

.three .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

@media screen and (max-width: 1140px) {
  .three {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .three .box.row {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
  }

  .three .box {
    max-width: 400px;
  }

  .three .box .col {
    text-align: center;
  }

  .three .box .img {
    margin: 0;
  }
}

/* hero four */
.four {
  padding: 80px 0 60px 0;
  background-color: var(--viola);
}

.four h2 {
  text-align: center;
  margin-bottom: 70px;
}

.four .row {
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.four .box {
  width: calc((100% - 70px) / 3);
}

@media screen and (max-width: 1140px) {
  .four {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .four .box {
    width: calc((100% - 70px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .four .box {
    width: 100%;
  }
}

/* hero five */
.five {
  padding: 100px 0 150px 0;
}

.five .row {
  gap: 100px;
}

@media screen and (max-width: 1140px) {
  .five {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .five .row {
    flex-wrap: wrap;
  }

  .five .w-30,
  .w-70 {
    width: 100%;
  }
}

/* footer */
footer {
  text-align: center;
}

footer .top {
  padding: 65px 0;
  background-color: var(--viola);
}

footer .top h4 {
  margin-bottom: 30px;
}

footer .top h3 {
  margin-bottom: 60px;
}

footer .top h2 {
  margin-bottom: 50px;
}

footer .top .button {
  margin: 35px 0;
}

footer .bottom {
  padding: 40px;
  background-color: var(--grigio);
}

footer .bottom p:first-child {
  margin-bottom: 70px;
}
