/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COMMON */
:root {
  --debug: #00fdb5;
  --blu: #0084fd;
  --azzurro: #b5ddff;
  --viola: #9792e4;
}

.row {
  display: flex;
  flex-direction: row;
}

.cont {
  max-width: 1140px;
  margin: 0 auto;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

/* DEBUG */
.debug .box {
  border: 2px dashed red;
}

.debug .img {
  border: 2px solid black;
}

/* header debug*/
.debug nav .logo,
.menu {
  padding: 0 20px;
  background-color: var(--debug);
}

/* hero one debug */
.debug .one .box {
  text-align: center;
  height: 340px;
}

/* hero two debug */
.debug .two .box:first-child {
  height: 600px;
}

.debug .two .box:first-child .img {
  height: 60%;
  background-color: white;
}

.debug .two .box:last-child {
  height: 450px;
}

.debug .two .box:last-child .img {
  height: 100%;
  background-color: white;
}

/* HEADER */
header {
  height: 75px;
  background-color: var(--blu);
  color: white;
}

nav {
  line-height: 75px;
  max-width: 1140px;
  margin: 0 auto;
}

nav.row {
  justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  nav.row {
    padding: 0 30px;
  }
}

/* hero one */
.one {
  padding: 50px 0 100px 0;
}

.one .row {
  gap: 25px;
}

.one .row .box {
  background-color: var(--azzurro);
}

.one .row.bottom {
  margin-top: 25px;
}

.one .row.bottom .box {
  width: calc((100% - 50px) / 3);
}

@media screen and (max-width: 1140px) {
  .one {
    padding: 50px 30px 100px 30px;
  }
}

@media screen and (max-width: 576px) {
  .one .row.top {
    flex-wrap: wrap;
  }

  .one .row.top .box.row {
    flex-wrap: wrap;
  }

  .one .row.top .box.row .w-70,
  .w-30 {
    width: 100%;
  }

  .one .row.bottom {
    flex-wrap: wrap;
  }

  .one .row.top .box {
    width: 100%;
  }

  .one .row.bottom .box {
    width: 100%;
  }
}

/* hero two */
.two {
  padding: 130px 0 60px 0;
  background-color: var(--viola);
}

.two .row {
  justify-content: center;
  align-items: flex-end;
  gap: 70px;
}

.two .box {
  width: calc((100% - 70px) / 2);
}

@media screen and (max-width: 1140px) {
  .two {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .two .row {
    flex-wrap: wrap;
    gap: 35px;
  }

  .two .box {
    width: 100%;
  }
}
